{
  "basePath": "/",
  "consumes": [],
  "definitions": {},
  "host": "api.github.com",
  "info": {
    "description": "",
    "title": "Default title",
    "version": "1.0"
  },
  "parameters": {},
  "paths": {
    "/orgs/{organization}/repos": {
      "get": {
        "description": "ListRepos",
        "operationId": "ListRepos",
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "project",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "items": {
                "properties": {
                  "name": {
                    "description": "name",
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          }
        },
        "summary": "ListRepos"
      }
    },
    "/user/orgs": {
      "get": {
        "description": "ListOrganizations",
        "operationId": "ListOrganizations",
        "parameters": [],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "items": {
                "properties": {
                  "name": {
                    "description": "name",
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          }
        },
        "summary": "ListOrganizations"
      }
    },
    "/user/repos": {},
    "/{organization}/fake": {
      "get": {
        "description": "ListProjects",
        "operationId": "ListProjects",
        "parameters": [
          {
            "in": "path",
            "name": "organization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "items": {
                "properties": {
                  "name": {
                    "description": "name",
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          }
        },
        "summary": "ListProjects"
      }
    }
  },
  "produces": [],
  "responses": {},
  "schemes": [
    "https"
  ],
  "security": [
    {
      "oauth2_auth": [
        "repo"
      ]
    }
  ],
  "securityDefinitions": {
    "oauth2_auth": {
      "authorizationUrl": "https://github.com/login/oauth/authorize",
      "flow": "accessCode",
      "scopes": {
        "repo": "repo"
      },
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "type": "oauth2"
    }
  },
  "swagger": "2.0",
  "tags": []
}
